.banner {
    background: url('/assets/SVJ-Images/career-banner.jpg') center/cover no-repeat;
    text-align: center;
    padding: 60px 20px;
    color: black;
}

.banner h1 {
    font-size: 28px;
    font-weight: bold;
}

.banner p {
    font-size: 15px;
    margin-top: 5px;
}

.volunteer-card ion-button {
    margin-top: 12px;
}