<ion-footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="/assets/SVJ-Images/logo.png" alt="Logo" class="footer-logo" />
      <div>
        <h3 class="footer-title">सबका विकास ज्यति</h3>
        <p class="footer-slogan">गाँव गाँव खुशी, देश खुशहाल</p>
      </div>
    </div>

    <div class="footer-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/donate">Donate</a>
      <a routerLink="/project">Program</a>
      <a routerLink="/career">Career</a>
      <a routerLink="/download">Download</a>
    </div>

    <div class="footer-social">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-youtube"></ion-icon>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Sabka Vikas Jyoti. All Rights Reserved.</p>
  </div>
</ion-footer>